.modal-view
  position: absolute
  top: 0
  left: 0
  background-color: rgba(237, 76, 88, 0.96)
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  z-index: 1000
  opacity: 0
  visibility: hidden
  &__container
    width: 500px
    background-color: $white
    padding: 25px rem(45px)
    @media (max-width: $screen-xs-max)
      width: 100%
      margin: 0 rem(15px)
      padding: 14px 20px 24px
  &__header
    display: flex
    justify-content: flex-end
    &-close
      font-family: $regular
      color: $black
      font-size: rem(14px)
      cursor: pointer
      font-weight: bold
  &__main
    &-title
      margin: 0
      padding: 0
      margin-top: 10px
  &__footer
    & .ui-form__input
      margin: 0

    &-accept
      font-family: $bold
      color: $black
      padding: 7px 11px
      font-size: rem(16px)
      background-color: transparent
      outline: none
      border: none
      transition: .2s all linear
      border-radius: 3px
      cursor: pointer
      margin-top: 20px
      @media (max-width: $screen-xs-max)
        margin-top: 30px
      &:hover
        background-color: $red
        color: $white

.modal-view.open
  opacity: 1
  visibility: visible

#app.hidden
  overflow: hidden
  height: 100vh